[class^="icon-"],
[class*=" icon-"]{
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../img/sprite.png");
}

.icon-facebook-hover {
  width: 26px;
  height: 25px;
  background-position: 0 0;
}

.icon-tower {
  width: 69px;
  height: 75px;
  background-position: -26px -25px;
}

.icon-tower-hover {
  width: 69px;
  height: 75px;
  background-position: -95px -100px;
}

.icon-tumblr {
  width: 26px;
  height: 25px;
  background-position: -164px -175px;
}

.icon-tumblr-hover {
  width: 26px;
  height: 25px;
  background-position: -190px -200px;
}

.icon-twitter {
  width: 26px;
  height: 25px;
  background-position: -216px -225px;
}

.icon-twitter-hover {
  width: 26px;
  height: 25px;
  background-position: -242px -250px;
}

.icon-arrow-left {
  width: 6px;
  height: 12px;
  background-position: -268px -275px;
}

.icon-arrow-right {
  width: 6px;
  height: 12px;
  background-position: -274px -287px;
}

.icon-email {
  width: 22px;
  height: 16px;
  background-position: -280px -299px;
}

.icon-facebook {
  width: 26px;
  height: 25px;
  background-position: -302px -315px;
}