/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html,
body {
  min-height: 100%; }

body {
  font-family: 'Open_sans_light', sans-serif;
  font-weight: normal;
  background-color: #fff; }

.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100%; }

.container, .header__in, .slider__in, .jumbotron__in, .nav__in, .news__in, .quote__in, .footer__in {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 960px; }
  @media only screen and (max-width: 959px) {
    .container, .header__in, .slider__in, .jumbotron__in, .nav__in, .news__in, .quote__in, .footer__in {
      max-width: 768px; } }
  @media only screen and (max-width: 767px) {
    .container, .header__in, .slider__in, .jumbotron__in, .nav__in, .news__in, .quote__in, .footer__in {
      max-width: 600px; } }
  @media only screen and (max-width: 599px) {
    .container, .header__in, .slider__in, .jumbotron__in, .nav__in, .news__in, .quote__in, .footer__in {
      max-width: 480px; } }
  @media only screen and (max-width: 479px) {
    .container, .header__in, .slider__in, .jumbotron__in, .nav__in, .news__in, .quote__in, .footer__in {
      max-width: 100%; } }

.subscribe-btn {
  color: #000;
  background: #4bc7e7;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 20px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer; }

@font-face {
  font-family: 'pt_serifbold';
  src: url("fonts/ptserif-bold.eot");
  src: url("fonts/ptserif-bold.eot?#iefix") format("embedded-opentype"), url("fonts/ptserif-bold.woff2") format("woff2"), url("fonts/ptserif-bold.woff") format("woff"), url("fonts/ptserif-bold.ttf") format("truetype"), url("fonts/ptserif-bold.svg#pt_serifbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'pt_serifregular';
  src: url("fonts/ptserif-regular.eot");
  src: url("fonts/ptserif-regular.eot?#iefix") format("embedded-opentype"), url("fonts/ptserif-regular.woff2") format("woff2"), url("fonts/ptserif-regular.woff") format("woff"), url("fonts/ptserif-regular.ttf") format("truetype"), url("fonts/ptserif-regular.svg#pt_serifregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'pt_serifbold_italic';
  src: url("fonts/ptserif-bolditalic.eot");
  src: url("fonts/ptserif-bolditalic.eot?#iefix") format("embedded-opentype"), url("fonts/ptserif-bolditalic.woff2") format("woff2"), url("fonts/ptserif-bolditalic.woff") format("woff"), url("fonts/ptserif-bolditalic.ttf") format("truetype"), url("fonts/ptserif-bolditalic.svg#pt_serifbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-Black';
  src: url("fonts/GothamPro-Black.eot");
  src: url("fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("fonts/GothamPro-Black.woff2") format("woff2"), url("fonts/GothamPro-Black.woff") format("woff"), url("fonts/GothamPro-Black.ttf") format("truetype"), url("fonts/GothamPro-Black.svg#GothamPro-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-Bold';
  src: url("fonts/GothamPro-Bold.eot");
  src: url("fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/GothamPro-Bold.woff2") format("woff2"), url("fonts/GothamPro-Bold.woff") format("woff"), url("fonts/GothamPro-Bold.ttf") format("truetype"), url("fonts/GothamPro-Bold.svg#GothamPro-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoblack';
  src: url("fonts/roboto-black.eot");
  src: url("fonts/roboto-black.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-black.woff2") format("woff2"), url("fonts/roboto-black.woff") format("woff"), url("fonts/roboto-black.ttf") format("truetype"), url("fonts/roboto-black.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotobold';
  src: url("fonts/roboto-bold.eot");
  src: url("fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-bold.woff2") format("woff2"), url("fonts/roboto-bold.woff") format("woff"), url("fonts/roboto-bold.ttf") format("truetype"), url("fonts/roboto-bold.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight';
  src: url("fonts/roboto-light.eot");
  src: url("fonts/roboto-light.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-light.woff2") format("woff2"), url("fonts/roboto-light.woff") format("woff"), url("fonts/roboto-light.ttf") format("truetype"), url("fonts/roboto-light.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoregular';
  src: url("fonts/roboto-regular.eot");
  src: url("fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-regular.woff2") format("woff2"), url("fonts/roboto-regular.woff") format("woff"), url("fonts/roboto-regular.ttf") format("truetype"), url("fonts/roboto-regular.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.header {
  height: 50px;
  background: #fff; }
  .header__in {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .header .logo {
    position: absolute;
    top: 0;
    left: 15px;
    width: 162px;
    height: 165px;
    background-color: #fff;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10; }
    .header .logo:after {
      position: absolute;
      content: "";
      height: 0;
      width: 0;
      top: 100%;
      left: 0;
      border-top: 28px solid #fff;
      border-bottom: 28px solid transparent;
      border-left: 81px solid #fff;
      border-right: 81px solid transparent; }
    .header .logo a {
      display: block;
      height: 100%;
      cursor: pointer; }

.addition-nav__item {
  font-family: 'GothamPro-Bold', Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 26px;
  display: inline-block;
  text-decoration: none; }

.slider {
  height: 475px;
  overflow: hidden;
  position: relative; }
  .slider__item {
    height: 475px;
    position: relative; }
  .slider__item-img {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -50%;
    display: block; }
  .slider__in {
    position: relative;
    height: 100%;
    padding: 212px 142px 0; }
  .slider__sub-title {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 20px;
    line-height: 36px;
    font-family: 'GothamPro-Bold', Arial, Helvetica, sans-serif; }
  .slider__title {
    font-size: 52px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 4px;
    font-family: 'pt_serifbold', Arial, Helvetica, sans-serif; }
  .slider__text {
    font-size: 28px;
    color: #fff;
    line-height: 35px;
    margin: 0;
    font-family: 'robotolight', Arial, Helvetica, sans-serif;
    letter-spacing: 0.01em; }
  .slider .slick-arrow {
    position: absolute;
    width: 58px;
    height: 58px;
    background: transparent;
    border: 3px solid #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    bottom: 185px;
    color: transparent;
    font-size: 0;
    z-index: 2;
    outline: 0; }
  .slider .slick-prev {
    left: 50%;
    margin-left: -465px; }
  .slider .slick-next {
    right: 50%;
    margin-right: -485px; }
  .slider .slick-dots {
    position: absolute;
    bottom: 28px;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: 0;
    padding: 0;
    margin: 0; }
    .slider .slick-dots li {
      margin: 0 15px;
      list-style: none;
      width: 16px;
      height: 16px; }
      .slider .slick-dots li button {
        width: 16px;
        height: 16px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        background: #fff;
        font-size: 0;
        color: transparent;
        position: relative;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: 0;
        vertical-align: top;
        outline: none;
        padding: 0; }
      .slider .slick-dots li.slick-active button:after {
        width: 8px;
        content: "";
        height: 8px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        left: 50%;
        background: #000;
        margin-left: -4px; }

.jumbotron__in {
  height: 475px; }

.nav {
  overflow: hidden;
  margin-bottom: 50px; }
  .nav__in {
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .nav__in:after {
      height: 100%;
      width: 4000px;
      content: "";
      background: #4bc7e7;
      position: absolute;
      left: 100%;
      top: 0;
      margin-left: -20px; }
  .nav__item {
    height: 100%;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 20px;
    text-decoration: none;
    letter-spacing: 0.05em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-weight: 900;
    font-family: 'GothamPro-Bold', Arial, Helvetica, sans-serif; }
    .nav__item_blue {
      background: #4bc7e7; }
    .nav__item_search {
      -webkit-box-flex: 0;
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 60px;
      background: #e1e1e1; }
    .nav__item:first-child {
      padding-left: 0; }

.news {
  margin-bottom: 30px; }
  .news__title {
    letter-spacing: 0.02em;
    font-size: 50px;
    line-height: 46px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 28px;
    font-family: 'pt_serifbold', Arial, Helvetica, sans-serif; }
  .news__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 -15px;
    padding: 0;
    list-style: none; }
  .news__item {
    width: 33.33%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .news__item_small {
      width: 25%; }
    .news__item_big {
      width: 41.66%; }
    .news__item_large {
      width: 66.66%; }
    .news__item_bordered .news__img-wrapper {
      display: none; }
    .news__item_bordered .news__text-block {
      padding: 35px;
      min-height: 400px;
      border: 10px solid #4bc7e7;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .news__item_text-on-img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .news__item_without-img .news__img-wrapper {
      display: none; }
    .news__item_without-img__item-title {
      font-size: 28px; }
  .news__img-wrapper {
    margin-bottom: 28px;
    display: block; }
  .news__img {
    width: 100%;
    height: auto;
    display: block; }
  .news__date {
    font-family: 'pt_serifbold', Arial, Helvetica, sans-serif;
    color: #888;
    font-size: 11px;
    line-height: 12px;
    display: block;
    margin-bottom: 9px;
    letter-spacing: 0.01em; }
  .news__item-title {
    line-height: 26px;
    color: #000;
    margin: 0 0 0;
    font-size: 21px;
    font-weight: normal;
    letter-spacing: 0.03em; }
  .news__item-link {
    font-family: 'pt_serif_italic', Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #000;
    font-weight: normal;
    text-decoration: none; }
  .news__highlight-text {
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-style: normal;
    font-family: 'pt_serifbold_italic', Arial, Helvetica, sans-serif; }
  .news__tags-list {
    margin-top: 13px;
    color: #8b8b8b;
    line-height: 36px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 11px;
    font-family: 'GothamPro-Bold', Arial, Helvetica, sans-serif; }
  .news__tag {
    display: inline-block;
    text-decoration: none;
    color: #8b8b8b;
    line-height: 36px;
    letter-spacing: 0.05em;
    font-weight: bold; }

.quote {
  border-top: 10px solid #4bc7e7;
  border-bottom: 10px solid #4bc7e7; }
  .quote__in {
    padding-top: 55px;
    padding-bottom: 55px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .quote__person {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    margin-right: 85px; }
  .quote__person-name {
    text-align: center;
    display: block;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #000;
    font-weight: bold; }
  .quote__img-wrapper {
    margin-bottom: 23px;
    height: 150px;
    width: 150px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    overflow: hidden; }
  .quote__img {
    display: block;
    height: 100%;
    width: 100%; }
  .quote__text-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    padding: 0 80px 0 70px; }
    .quote__text-block:before {
      content: ""; }
    .quote__text-block:after {
      content: ""; }
  .quote__text {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.03em;
    color: #000;
    font-style: italic; }

.footer {
  background: #ebebeb; }
  .footer__in {
    padding-top: 70px;
    padding-bottom: 60px; }
  .footer__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__column {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .footer__column:last-child .footer__title {
      text-align: right; }
  .footer__title {
    color: #000;
    margin: 0 0 23px;
    font-size: 16px;
    letter-spacing: 0.03em;
    font-weight: bold; }
  .footer__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__nav-item {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 20px;
    display: block;
    text-decoration: none;
    letter-spacing: 0.03em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    color: #000; }
  .footer__column-holder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__add-info {
    text-align: right;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin: 0 0 10px;
    color: #000;
    font-weight: bold; }
    .footer__add-info a {
      font-weight: bold;
      color: #000;
      cursor: pointer;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none; }

.social-networks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .social-networks__item {
    width: 30px;
    height: 30px;
    background: red;
    margin-right: 30px;
    cursor: pointer; }
    .social-networks__item:last-child {
      margin-right: 0; }

.copyright {
  text-align: right;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000;
  margin: 0;
  font-weight: bold; }
