// Media query screen sizes
$mobile-portrait: 320px
$mobile-landscape: 480px
$tablet-portrait: 600px
$tablet-landscape: 768px
$middle-desktop: 960px

// Color variables

$gray: #e1e1e1
$blue: #4bc7e7
$dark-blue: #00a4cf
$pink: #ec008c


// Common styles
html,
body
    min-height: 100%

body
    font-family: 'Open_sans_light', sans-serif
    font-weight: normal
    background-color: #fff
    position: relative
    &.overflow-hidden
        overflow: hidden

.wrapper
    box-sizing: border-box
    min-height: 100%

.container
    position: relative
    box-sizing: border-box
    margin: 0 auto
    padding: 0 15px
    max-width: 960px
    @include respond-to(tablet-landscape)
        max-width: 768px
    @include respond-to(tablet-portrait)
        max-width: 600px
    @include respond-to(mobile-landscape)
        max-width: 480px
    @include respond-to(mobile-portrait)
        max-width: 100%

.subscribe-btn
    color: #000
    background: $blue
    font-size: 14px
    text-transform: uppercase
    text-align: center
    padding: 15px 18px
    box-sizing: border-box
    line-height: 20px
    text-decoration: none
    font-weight: bold
    cursor: pointer
    transition: 0.3s
    &:hover
        background: $dark-blue



.social-networks
    display: flex
    justify-content: flex-start
    &__item
        padding: 0 3px
        cursor: pointer
        color: #000
        transition: 0.3s
        display: flex
        align-items: center
        .icon
            transition: 0.3s
            font-size: 2.3em
        &:hover
            background: $blue
            .icon
                color: #fff

.layout
    .addition-button-row
        position: relative
        margin-bottom: 80px
        &__in
            @extend .container


.read-more-btn
    border: 2px solid #000
    width: 106px
    margin: 0 auto
    height: 36px
    line-height: 24px
    font-size: 13px
    display: block
    text-align: center
    background: transparent
    box-sizing: border-box
    outline: 0
    transition: 0.3s
    padding: 5px
    text-transform: uppercase
    font-family: 'GothamPro-Bold', Arial, Helvetica, sans-serif
    &:hover
        background: #000
        color: #fff

.to-top-btn
    position: absolute
    cursor: pointer
    right: 0
    outline: 0
    font-size: 5.1em
    bottom: 0
    color: $blue
    height: 82px
    width: 82px
    top: 50%
    margin-top: -41px
    padding: 0
    border-radius: 50%
    transition: 0.3s
    background: transparent
    border: 0
    &:hover
        color: $dark-blue