.header
    height: 50px
    background: #fff
    &__in
        @extend .container
        display: flex
        justify-content: flex-end
        height: 100%
    .logo
        position: absolute
        top: 0
        left: 15px
        width: 162px
        height: 165px
        background-color: #fff
        background-image: url("../img/logo.png")
        background-repeat: no-repeat
        background-position: center center
        z-index: 10
        &:after
            position: absolute
            content: ""
            height: 0
            width: 0
            top: 100%
            left: 0
            border-top: 28px solid #fff
            border-bottom: 28px solid transparent
            border-left: 81px solid #fff
            border-right: 81px solid transparent
        a
            display: block
            height: 100%
            cursor: pointer
    .subscribe-btn
        font-size: 10px
    .social-networks
        padding-left: 10px
        height: 100%
        align-items: center
        &__item
            height: 100%
        @include respond-to(tablet-portrait)
            display: none

.addition-nav
    margin-right: 20px
    display: flex
    &__item
        font-family: 'GothamPro-Bold', Arial, Helvetica, sans-serif
        color: #000
        font-size: 10px
        text-transform: uppercase
        text-align: center
        justify-content: center
        padding: 12px 13px 7px
        box-sizing: border-box
        line-height: 31px
        text-decoration: none
        transition: 0.3s
        &:hover
            background: $blue
            color: #fff
        @include respond-to(tablet-portrait)
            display: none

.mobile-nav-open-btn
    position: absolute
    left: 11px
    top: 8px
    z-index: 15
    align-items: center
    display: none
    .icon
        font-size: 2em
        cursor: pointer
    @include respond-to(tablet-portrait)
        display: flex