.jumbotron
    height: 435px
    position: relative
    overflow: hidden
    &__link
        position: absolute
        z-index: 5
        cursor: pointer
        top: 0
        left: 0
        right: 0
        bottom: 0
    &__img
        min-width: 100%
        min-height: 100%
        height: auto
        position: absolute
        left: 50%
        margin-left: -50%
        display: block
    &__in
        @extend .container
        position: relative
        height: 100%
        padding: 212px 142px 20px
    &__sub-title
        font-size: 16px
        color: #fff
        text-transform: uppercase
        margin: 0 0 20px
        line-height: 1.8
        font-family: 'GothamPro-Bold', Arial, Helvetica, sans-serif
    &__title
        font-size: 52px
        color: #fff
        text-transform: uppercase
        margin: 0 0 4px
        line-height: 1.65
        font-family: 'pt_serifbold', Arial, Helvetica, sans-serif
        @include respond-to(tablet-landscape)
            font-size: 32px
    &__text
        font-size: 28px
        color: #fff
        line-height: 1.2
        margin: 0
        font-family: 'robotolight', Arial, Helvetica, sans-serif
        letter-spacing: 0.01em
        @include respond-to(tablet-landscape)
            font-size: 20px
    &_baraban
        .jumbotron__in
            padding: 212px 15px 25px
            display: flex
            align-items: flex-end
        .jumbotron__title
            color: $pink
            letter-spacing: 0.04em
            font-size: 100px
            line-height: 0.6
            font-family: 'robotoblack', Arial, Helvetica, sans-serif
            font-weight: bold
        .jumbotron__text
            padding: 20px 40px 15px
            font-size: 16px
            letter-spacing: 0.03em
            max-width: 825px
            box-sizing: border-box
            line-height: 1.45
            background: $pink
            font-family: 'robotoregular', Arial, Helvetica, sans-serif
    &_city
        .jumbotron__in
            padding: 212px 15px 53px
            display: flex
            align-items: flex-end
        .jumbotron__text-block
            display: flex
            align-items: flex-end
            font-size: 16px
            letter-spacing: 0.03em
            line-height: 1.45
        .jumbotron__title
            color: #000
            margin: 0 25px 0 0
            letter-spacing: -0.01em
            font-size: 100px
            line-height: 1
            font-family: 'robotoblack', Arial, Helvetica, sans-serif
            font-weight: bold
        .jumbotron__text
            color: #000
            font-size: 16px
            max-width: 525px
            letter-spacing: 0.03em
            line-height: 1.6
            font-family: 'robotoregular', Arial, Helvetica, sans-serif

    &_project
        .jumbotron__in
            padding: 212px 142px 34px
            padding-top: 180px
            display: flex
            align-items: flex-end
        .jumbotron__title
            display: flex
            align-items: flex-end
            font-size: 70px
            letter-spacing: 0.03em
            line-height: 1.2
            font-family: 'pt_serifbold', Arial, Helvetica, sans-serif
            font-weight: bold
            i
                font-style: italic
        .jumbotron__text
            font-size: 16px
            max-width: 720px
            letter-spacing: 0.03em
            line-height: 1.6
            font-family: 'robotoregular', Arial, Helvetica, sans-serif

    &_inside
        .jumbotron__in
            padding-top: 180px
        .jumbotron__sub-title
            font-size: 18px
        .jumbotron__title
            font-family: 'pt_serifitalic', Arial, Helvetica, sans-serif
            font-weight: normal
            font-size: 46px
            letter-spacing: 0.01em
            margin: 0
            line-height: 1.1
            text-transform: none
            max-width: 625px
            strong
                font-weight: bold
                font-family: 'robotoblack', Arial, Helvetica, sans-serif
                text-transform: uppercase
    //
    //&_affiche
    //    .jumbotron__img
    //
    //    .jumbotron__in
    //
    //    .jumbotron__sub-title
    //
    //    .jumbotron__text-block
    //
    //    .jumbotron__title
    //
    //    .jumbotron__text
