.news
    &__in
        @extend .container
        padding-top: 30px
        padding-bottom: 30px
    &__title
        letter-spacing: 0.02em
        font-size: 50px
        line-height: 0.9
        font-weight: bold
        text-transform: uppercase
        margin: 0 0 28px
        font-family: 'pt_serifbold', Arial, Helvetica, sans-serif
    &__list
        display: flex
        flex-wrap: wrap
        margin: 0 -15px
        padding: 0
        list-style: none
    &__item
        width: 33.33%
        padding: 0 15px
        box-sizing: border-box
        position: relative
        margin-bottom: 30px
        @include respond-to(tablet-landscape)
            width: 50%

        // Sizes
        &_small
            width: 25%
            @include respond-to(tablet-landscape)
                width: 50%
        &_big
            width: 41.66%
            @include respond-to(tablet-landscape)
                width: 50%
        &_large
            width: 66.66%
            @include respond-to(tablet-landscape)
                width: 50%

        // Different type in styling
        &_bordered
            .news__img-wrapper
                display: none
            .news__text-block
                padding: 35px
                border: 10px solid $blue
                box-sizing: border-box
        &_text-on-img
            .news__text-block
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 0
            .news__img-wrapper
                margin: 0
            .news__text-block
                position: absolute
                padding: 25px 35px
                box-sizing: border-box
                top: 0
                left: 0
                right: 0
                bottom: 0
                display: flex
                flex-direction: column
            .news__img-wrapper
                margin: 0
            .news__item-title
                font-size: 30px
                line-height: 1.4
            .news__highlight-text
                font-size: 28px
            .news__date
                color: #000
            .news__tags-list
                color: #000
            .news__tag
                color: #000
        &_bordered-text-on-img
            .news__text-block
                position: absolute
                border: 10px solid #fff
                padding: 30px 15px
                box-sizing: border-box
                top: 40px
                left: 65px
                right: 65px
                bottom: 35px
            .news__img-wrapper
                margin: 0
            .news__item-link
                color: #fff
            .news__item-title
                font-size: 48px
                line-height: 1.2
                color: #fff
            .news__highlight-text
                font-size: 28px
                color: #fff
            .news__date
                color: #fff
            .news__tags-list
                color: #fff
            .news__tag
                color: #fff

        &_without-img
            .news__img-wrapper
                display: none
            .news__item-title
                font-size: 28px
                line-height: 1.3
            .news__highlight-text
                font-size: 28px
                line-height: 1.3

        &_colored-bg
            .news__img-wrapper
                display: none
                margin: 0
            .news__text-block
                padding: 55px 45px
                box-sizing: border-box
            .news__item-link
                color: #f0f0f0
            .news__item-title
                color: #f0f0f0
            .news__highlight-text
                color: #f0f0f0
            .news__date
                color: #f0f0f0
            .news__tags-list
                color: #f0f0f0
            .news__tag
                color: #f0f0f0
            &.news__item_red
                .news__text-block
                    background: red


    &__img-wrapper
        margin-bottom: 28px
        display: block
        position: relative
    &__img
        width: 100%
        height: auto
        display: block
    &__date
        font-family: 'GothamPro-Bold', Arial, Helvetica, sans-serif
        color: #888
        font-size: 11px
        line-height: 1.1
        display: block
        margin-bottom: 9px
        letter-spacing: 0.01em
        font-weight: bold
    &__item-title
        line-height: 1.2
        color: #000
        margin: 0 0 20px
        font-size: 20px
        font-weight: normal
        letter-spacing: 0.01em
    &__item-link
        font-family: 'pt_serif_italic', Arial, Helvetica, sans-serif
        font-style: italic
        color: #000
        font-weight: normal
        text-decoration: none
    &__highlight-text
        font-size: 21px
        line-height: 1.2
        letter-spacing: 0.05em
        font-weight: bold
        font-style: normal
        font-family: 'pt_serifbold_italic', Arial, Helvetica, sans-serif
    &__tags-list
        margin-top: 13px
        color: #8b8b8b
        line-height: 1.4
        letter-spacing: 0.05em
        font-weight: bold
        font-size: 11px
        font-family: 'GothamPro-Bold', Arial, Helvetica, sans-serif
    &__tag
        display: inline-block
        text-decoration: none
        color: #8b8b8b
        line-height: 1.4
        letter-spacing: 0.05em
        font-weight: bold
.partner-mark
    position: absolute
    width: 52px
    height: 52px
    box-sizing: border-box
    top: -26px
    left: -10px
    border-radius: 50%
    background: #fff
    color: #000
    border: 4px solid $blue
    .icon
        font-size: 3.2em
        position: relative
        transform: rotate(-15deg)
        left: -4px
        top: -3px
.project_mark
    width: 166px
    height: 166px
    position: absolute
    top: 0
    color: $blue
    left: 0
    bottom: 0
    right: 0
    margin: auto
    .icon
        font-size: 10.4em
