.quote
    border-top: 10px solid $blue
    border-bottom: 10px solid $blue
    @include respond-to(tablet-portrait)
        border: 10px solid $blue
        margin: 0 30px
    &__in
        @extend .container
        padding-top: 55px
        padding-bottom: 55px
        display: flex
        justify-content: space-between
        @include respond-to(tablet-portrait)
            flex-direction: column
    &__person
        flex: none
        margin-right: 85px
        @include respond-to(tablet-landscape)
            margin-right: 45px
        @include respond-to(tablet-portrait)
            margin: 0 auto 30px
    &__person-name
        text-align: center
        display: block
        font-size: 14px
        line-height: 20px
        letter-spacing: 0.05em
        color: #000
        font-family: 'GothamPro-Bold', Arial, Helvetica, sans-serif
        font-weight: bold
    &__img-wrapper
        margin-bottom: 21px
        height: 150px
        width: 150px
        border-radius: 50%
        overflow: hidden
    &__img
        display: block
        height: 100%
        width: 100%
    &__text-block
        flex: 1
        position: relative
        padding:  25px 80px 25px 70px
        @include respond-to(tablet-landscape)
            padding: 15px 50px 15px 50px
        &:before
            font-family: 'pt_serifitalic', Arial, Helvetica, sans-serif
            content: '«'
            position: absolute
            font-size: 70px
            font-weight: bold
            line-height: 40px
            left: 0
            top: -24px
        &:after
            font-family: 'pt_serifitalic', Arial, Helvetica, sans-serif
            content: '»'
            position: absolute
            font-size: 70px
            font-weight: bold
            line-height: 40px
            right: -9px
            bottom: -5px
    &__text
        font-family: 'pt_serifitalic', Arial, Helvetica, sans-serif
        font-size: 24px
        line-height: 1.4
        margin: 0
        letter-spacing: 0.03em
        color: #000
        font-style: italic
